force-app/main/default/flows/Account_Country_population.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Populate Account country</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>populate Account Country</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Populate_Account_country</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>conid</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>conid</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>contactids</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>2000.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>contactids</name>
            <value>
                <elementReference>myCollection_myRule_1_A1contactids</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvokeFlowRecordLookup_myRule_1_A1contactids</targetReference>
            </connector>
            <label>contact is new or country changed</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() ||  ISCHANGED([Contact].Country__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() ||  ISCHANGED({!myVariable_current.Country__c} )</expression>
    </formulas>
    <interviewLabel>Account_Country_population-3_InterviewLabel</interviewLabel>
    <label>Account Country population</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordLookups>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Contact].Account.AccountId</stringValue>
            </value>
        </processMetadataValues>
        <name>myInvokeFlowRecordLookup_myRule_1_A1contactids</name>
        <label>myInvokeFlowRecordLookup_myRule_1_A1contactids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>myCollection_myRule_1_A1contactids</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AssistantName</queriedFields>
        <queriedFields>AssistantPhone</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>CleanStatus</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Department</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>EmailBouncedDate</queriedFields>
        <queriedFields>EmailBouncedReason</queriedFields>
        <queriedFields>Fax</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>IndividualId</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>IsEmailBounced</queriedFields>
        <queriedFields>Jigsaw</queriedFields>
        <queriedFields>JigsawContactId</queriedFields>
        <queriedFields>Languages__c</queriedFields>
        <queriedFields>LastActivityDate</queriedFields>
        <queriedFields>LastCURequestDate</queriedFields>
        <queriedFields>LastCUUpdateDate</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>LastReferencedDate</queriedFields>
        <queriedFields>LastViewedDate</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Level__c</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingGeocodeAccuracy</queriedFields>
        <queriedFields>MailingLatitude</queriedFields>
        <queriedFields>MailingLongitude</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MasterRecordId</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>OtherCity</queriedFields>
        <queriedFields>OtherCountry</queriedFields>
        <queriedFields>OtherGeocodeAccuracy</queriedFields>
        <queriedFields>OtherLatitude</queriedFields>
        <queriedFields>OtherLongitude</queriedFields>
        <queriedFields>OtherPhone</queriedFields>
        <queriedFields>OtherPostalCode</queriedFields>
        <queriedFields>OtherState</queriedFields>
        <queriedFields>OtherStreet</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PhotoUrl</queriedFields>
        <queriedFields>ReportsToId</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>SystemModstamp</queriedFields>
        <queriedFields>Title</queriedFields>
    </recordLookups>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myCollection_myRule_1_A1contactids</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
