force-app/main/default/flows/Partnership_Level_Population.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assigndiamond</name>
        <label>assigndiamond</label>
        <locationX>1048</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>partnerlevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Diamond</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>goldassignment</name>
        <label>gold</label>
        <locationX>1050</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>partnerlevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>silver</name>
        <label>silver</label>
        <locationX>926</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>partnerlevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>diamond_criteria</name>
        <label>diamond criteria</label>
        <locationX>792</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>gold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dm</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>empcntch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>empcounttenthousand</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countrycnt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cntrycntgtfifty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigndiamond</targetReference>
            </connector>
            <label>dm</label>
        </rules>
    </decisions>
    <decisions>
        <name>gold</name>
        <label>gold</label>
        <locationX>916</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>silver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>goldap</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>empcntch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>empcounttsnd</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countrycnt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>empcntgt10</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>goldassignment</targetReference>
            </connector>
            <label>gold</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>countrycnt</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partner_Country_Count__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>empcntch</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Employee_count__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Partnership Level Population {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partnership Level Population</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>1257</locationX>
        <locationY>186</locationY>
        <connector>
            <targetReference>end_of_operation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accidfromrec</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partner_Level__c</field>
            <value>
                <elementReference>partnerlevel</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>cerrtcnt</name>
        <label>Country Count</label>
        <locationX>644</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>diamond_criteria</targetReference>
        </connector>
        <fields>
            <name>certcount</name>
            <choiceReferences>countrycnt</choiceReferences>
            <dataType>String</dataType>
            <fieldText>cntrycount</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>empcnt</name>
        <label>Employee count</label>
        <locationX>497</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>cerrtcnt</targetReference>
        </connector>
        <fields>
            <name>selempcnt</name>
            <choiceReferences>empcntch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>selempcnt</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>end_of_operation</name>
        <label>end of operation</label>
        <locationX>1253</locationX>
        <locationY>312</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>updted</name>
            <fieldText>&lt;p&gt;Partnership Level got updated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>157</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>empcnt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accidfromrec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accrec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>cntrycntgtfifty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&gt;50</stringValue>
        </value>
    </variables>
    <variables>
        <name>empcntgt10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>10-50</stringValue>
        </value>
    </variables>
    <variables>
        <name>empcounttenthousand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&gt;10000</stringValue>
        </value>
    </variables>
    <variables>
        <name>empcounttsnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>1000-10000</stringValue>
        </value>
    </variables>
    <variables>
        <name>partnerlevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
