force-app/main/default/flows/Populate_Account_country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Throw_Exception</name>
        <label>Throw Exception</label>
        <locationX>948</locationX>
        <locationY>373</locationY>
        <actionName>ExceptionUtil</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>append_country</name>
        <label>append country</label>
        <locationX>808</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>Acccountryval</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conitem.Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_over_contacts</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>emailid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>meera_nair@dellteam.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ifcon_country_not_null</name>
        <label>ifcon country not null</label>
        <locationX>282</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>value_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conitem.Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_does_not_contain_already</targetReference>
            </connector>
            <label>value exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>var_does_not_contain_already</name>
        <label>var does not contain already</label>
        <locationX>603</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>append_country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>value_exist_in_var</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acccountryval</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>conitem.Country__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterate_over_contacts</targetReference>
            </connector>
            <label>value exist in var</label>
        </rules>
    </decisions>
    <interviewLabel>Populate Account country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Account country</label>
    <loops>
        <name>iterate_over_contacts</name>
        <label>iterate over contacts</label>
        <locationX>388</locationX>
        <locationY>46</locationY>
        <assignNextValueToReference>conitem</assignNextValueToReference>
        <collectionReference>contactids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ifcon_country_not_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>940</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Throw_Exception</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Account Country Population</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>get_account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_account</name>
        <label>get account</label>
        <locationX>759</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conid.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Account</name>
        <label>update Account</label>
        <locationX>937</locationX>
        <locationY>65</locationY>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Country__c</field>
            <value>
                <elementReference>Acccountryval</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>iterate_over_contacts</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Acccountryval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>conid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>conitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactids</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>newvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>conid.FirstName</elementReference>
        </value>
    </variables>
    <variables>
        <name>Objectname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>Operation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Populate Account country</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Flow exception occured</stringValue>
        </value>
    </variables>
</Flow>
